<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patient Information</ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content *ngIf="patient.fname">
      <div class="header">
        <ion-row style="align-items:center;padding-top:20px;padding-left:10px;">
          <ion-col size="4">
            <ion-img style="width:100px" class="user-avatar round" src="{{baseUrl+patient.image}}"></ion-img>
          </ion-col>
          <ion-col size="8">
              <h3>{{patient.fname+' '+patient.lname}}</h3>
              <p style="color:#ddd">{{patient.address}}</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="content">
        <ion-tab-bar>
          <ion-tab-button (click)="prescriptionBtnClick()" #prescription tab="account">
            <span class="tabbar_title">Prescriptions</span>
          </ion-tab-button>

        </ion-tab-bar>

        <ion-list>
          <ion-item (click)="clickPrescription(prescription.id)" *ngFor="let prescription of prescriptions; index as i">
              <ion-grid>
                <ion-row>
                   <ion-col size="2" size-sm>
                     <ion-icon size="large" name="document"></ion-icon>
                   </ion-col>
                   <ion-col size="5" size-sm>
                     Prescription ID:
                   </ion-col>
                   <ion-col size="3" size-sm>
                     {{prescription.prescription_id}}
                   </ion-col>
                 </ion-row>
              </ion-grid>
          </ion-item>

        </ion-list>
      </div>
    </ion-content>

    <ion-tab-bar color="primary" slot="bottom">
      <ion-tab-button (click)="actionSheet('home')">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="actionSheet('call')">
        <ion-label>Call</ion-label>
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>

      <ion-tab-button  (click)="actionSheet('email')">
        <ion-label>Email</ion-label>
        <ion-icon name="mail"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="actionSheet('link')">
        <ion-label>Website</ion-label>
        <ion-icon name="globe"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="actionSheet('info')">
        <ion-label>Info</ion-label>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
