.header{
height:200px;
color:white;
background: #159957;
background: -webkit-linear-gradient(to right, #155799, #159957);
background: linear-gradient(to right, #155799, #159957);
}
.tabbar_title{
  font-size:16px !important;
}
.tab_button{
  border-bottom:2px solid tomato;
}
