<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button fill="clear" size='default' (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Prescription Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="prescription.prescription_id">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text style="font-weight:bold">ID : {{prescription.prescription_id}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-subtitle><ion-icon name="pin"></ion-icon> {{prescription.address}}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-subtitle><ion-icon name="person"></ion-icon> {{prescription.name}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>


  <!-- <div style="margin-top:10%;">
    <ion-list>
      <ion-item *ngFor="let medicine of prescription.medicines; index as i">
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              <ion-label>{{medicine.medicine_name}}</ion-label>
            </ion-col>
            <ion-col>
            <ion-card-subtitle>{{medicine.quantity}} Cap</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div> -->

  <div style="margin-top:10%;margin-left:5%">
    <ion-text class="sub_title">
      Instructions:
    </ion-text>

    <p>{{prescription.instructions}}</p>
  </div>

</ion-content>

<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
