<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fill prescription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form #form="ngForm" (ngSubmit)="submitForm(form)" method="post" enctype="multipart/form-data">

    <ion-card>
      <ion-card-header color="secondary" class="title">
          <ion-card-subtitle class="ion-text-center">Select Patient</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-select ngModel name="patient" class="card-text" okText="Okay" cancelText="Dismiss" placeholder="Please select a Patient">
                <ion-select-option value="me">For me</ion-select-option>
                <ion-select-option value="{{patient.id}}" *ngFor="let patient of patients">{{patient.fname+' '+patient.lname}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-button size="default" fill="clear" (click)="presentModal()">
               <ion-icon slot="icon-only" name="add"></ion-icon>
             </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header color="secondary" class="title">
        <ion-card-subtitle class="ion-text-center">Upload Prescription</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-slide>
        <div (click) ="selectImage()" class="image-upload">
            <label for="file-input">
              <img style="width:80px" src="assets/images/galary.png"/>
            </label>
        </div>
      </ion-slide>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let image of images; index as pos">
      <ion-thumbnail slot="start">
        <ion-img [src]="image"></ion-img>
      </ion-thumbnail>
      <ion-button slot="end" size="default" fill="clear" (click)="deleteImage(image,pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header color="secondary" class="title">
        <ion-card-subtitle class="ion-text-center">Pickup Time</ion-card-subtitle>
    </ion-card-header>

<ion-card-content class="card_content">
  <div class="pickup">

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button (click)="timeBtnClick('15m');changeColor('15min')" id='15min' color="secondary" expand="block">
            <ion-label>15 min</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="timeBtnClick('30m');changeColor('30min')" id='30min' color="secondary" expand="block">
            <ion-label>30 min</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="timeBtnClick('1h');changeColor('1hour')" id='1hour' color="secondary" expand="block">
            <ion-label>1 hour</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="timeBtnClick('4h');changeColor('4hour')" id='4hour' color="secondary" expand="block">
            <ion-label>4 hour</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="timeBtnClick('1d');changeColor('1day')" id="1day" color="secondary" expand="block">
            <ion-label>1 day</ion-label>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

    <div class="pickup">
      <ion-item lines="none">
        <ion-label>Select manually</ion-label>
        <ion-datetime id="pickup" name="pickup_time" ngModel displayFormat="DD MMMM YYYY HH:mm" max="2020-12-12"  placeholder="Select time"></ion-datetime>
      </ion-item>
    </div>
  </div>
  </ion-card-content>
</ion-card>
  <ion-item>
    <ion-textarea ngModel name="instructions" rows="6" cols="20" placeholder="Instructions"></ion-textarea>
  </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" color="primary" class="ion-no-margin">Submit</ion-button>
    </div>
  </form>

</ion-content>

<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
