.green-text
{
  color:green;
}

.image-upload>input {
  display: none;
}

.card_content, .form, .form-input, .pickup{
  margin-top:4%;
}
.red-star {
    color: red;
}

.label{
  font-weight: bold;
  padding:5%;
}
.title{
  margin-bottom:3%;
}
