<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content *ngIf="pharmacy.pharmacy_name">
  <div class="ion-text-center">
    <h2 style="color:green">{{pharmacy.pharmacy_name}}</h2>
  </div>
  <ion-card>
    <img src="assets/images/Pharmacy.jpg">
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-card (click)="menuClick('fill')" color="secondary">
              <ion-card-header>
                <ion-card-title class="ion-text-center"><ion-icon size="large" name="color-fill"></ion-icon></ion-card-title>
                <ion-card-subtitle class="ion-text-center">New Rx</ion-card-subtitle>
              </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="menuClick('refill')" color="secondary">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><ion-icon size="large" name="thermometer"></ion-icon></ion-card-title>
              <ion-card-subtitle class="ion-text-center">Refill Rx</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card (click)="menuClick('patients')" color="secondary">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><ion-icon size="large" name="ios-contact"></ion-icon></ion-card-title>
              <ion-card-subtitle class="ion-text-center">Patients</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="menuClick('transfer')" color="secondary">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><ion-icon size="large" name="repeat"></ion-icon></ion-card-title>
              <ion-card-subtitle class="ion-text-center">Transfer Rx</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card (click)="menuClick('location')" color="secondary">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><ion-icon size="large" name="pin"></ion-icon></ion-card-title>
              <ion-card-subtitle class="ion-text-center">Locations</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="menuClick('consultation')" color="secondary">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><ion-icon size="large" name="chatbubbles"></ion-icon></ion-card-title>
              <ion-card-subtitle class="ion-text-center">Consultations</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card (click)="menuClick('appointment')" color="secondary">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><ion-icon size="large" name="calendar"></ion-icon></ion-card-title>
              <ion-card-subtitle class="ion-text-center">Book an Appointment</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="menuClick('deal')" color="secondary">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><ion-icon size="large" name="pricetags"></ion-icon></ion-card-title>
              <ion-card-subtitle class="ion-text-center">Deals</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
