<ion-header>
    <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pharmacy</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-text-center title">
    <h3>Select a Pharmacy</h3>
  </div>
  <ion-list>
    <ion-card (click)="cardClick(pharma.id)" color="secondary" *ngFor="let pharma of pharmacy; index as ph">
      <div class="location-card">
        <p>{{pharma.pharmacy_name}}</p>
        <span>({{pharma.location}})</span>
      </div>
    </ion-card>
  </ion-list>
</ion-content>


<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
