<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Venice Pharmacy

76-3530 Rutherford road,

Vaughan, Ontario L4H 3T8

Neighbour Care Pharmacy

1357 Danforth Road,

Scarborough, Ontario, M1J 1G7

Pharmacy Hours

Mon-Fri: 9am-6pm, Sat 9am-2pm

Pharmacy Hours

Mon-Fri: 9am-6pm, Sat 9am-2pm</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
