<ion-header>
    <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Refill Prescription</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>Select a Patient</ion-card-subtitle>
      <ion-select [(ngModel)]="patient" (ionChange)="patientSelect(patient)" class="card-text" okText="Okay" cancelText="Dismiss" placeholder="Please select a Patient">
        <ion-select-option value="me">For me</ion-select-option>
        <ion-select-option value="{{patient.id}}" *ngFor="let patient of patients">{{patient.fname+' '+patient.lname}}</ion-select-option>
      </ion-select>
  </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item (click)="clickPrescription(prescription.id)" *ngFor="let prescription of prescriptions; index as i">
        <ion-grid>
          <ion-row>
             <ion-col size="2" size-sm>
               <ion-icon size="large" name="document"></ion-icon>
             </ion-col>
             <ion-col size="5" size-sm>
               Prescription ID:
             </ion-col>
             <ion-col size="3" size-sm>
               {{prescription.prescription_id}}
             </ion-col>
           </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button (click)="actionSheet('home')">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('call')">
    <ion-label>Call</ion-label>
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>

  <ion-tab-button  (click)="actionSheet('email')">
    <ion-label>Email</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="actionSheet('link')">
    <ion-label>Website</ion-label>
    <ion-icon name="globe"></ion-icon>
  </ion-tab-button>

  <ion-tab-button (click)="actionSheet('info')">
    <ion-label>Info</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
